@page "/"

<PageTitle>Index</PageTitle>

<h1>Umfragestatistik</h1>

<p>Wechseln Sie im Menü zum Punkt <a href="/statistik">"Statistik anzeigen"</a></p>

<SurveyPrompt Title="How is Blazor working for you?" />
