@page "/home"

<PageTitle>Index</PageTitle>

<div class="container d-flex justify-content-center align-items-center">
    @* ReSharper disable Html.PathError *@
    <p>:)</p>
    @* ReSharper restore Html.PathError *@
</div>