@page "/home"

<PageTitle>Index</PageTitle>

<div class="container d-flex justify-content-center align-items-center">
    @* ReSharper disable Html.PathError *@
    <p><a href="/statistik" class="btn btn-primary">Statistik anzeigen</a></p>
    @* ReSharper restore Html.PathError *@
</div>