@page "/"
@using Common.Models
@using Logic.Interfaces
@inject IRepository<Modul> ModulRepository

<p>Chunnt no</p>

@code
{
    private IList<Modul> module = new List<Modul>();

    protected override async Task OnInitializedAsync()
    {
        module = await ModulRepository.GetAllAsync();
    }

}