@page "/semester"

<h2>Semesterentwicklung</h2>

<p>Hier wird ein Balkendiagramm kommen :)</p>

<p>Es wird ca. so aussehen <a href="https://demos.blazorbootstrap.com/charts/bar-chart#stacked-bar-chart">Beispiel</a></p>

<div class="row justify-content-center">

    <div class="col-md-3 d-flex justify-content-between align-items-center">
        <!-- Modul Filter -->
        <Dropdown>
            <DropdownToggleButton Class="dropdown-toggle" Color="ButtonColor.Primary">@SelectedModul?.Name</DropdownToggleButton>
            <DropdownMenu>
                @foreach(Modul m in ModuleList)
                {
                    <DropdownItem @onclick="() => SetSelectedModul(m)" Type="ButtonType.Button">
                        @m.Name
                    </DropdownItem>
                }
            </DropdownMenu>
        </Dropdown>
    </div>
</div>

<!-- Chart -->
<div class="row justify-content-center my-5">

    <!-- Pie Chart -->
    <div id="pieChart" class="d-flex justify-content-center">
        <BarChart @ref="BarChart" Width="750" Class="mt-4"/>
    </div>

</div>