@page "/semester"

<h2>Semesterentwicklung</h2>

<p>Hier wird ein Balkendiagramm kommen :)</p>

<p>Es wird ca. so aussehen <a href="https://demos.blazorbootstrap.com/charts/bar-chart#stacked-bar-chart">Beispiel</a></p>

<!-- Chart -->
<div class="row justify-content-center my-5">

    <!-- Pie Chart -->
    <div id="pieChart" class="d-flex justify-content-center">
        <BarChart @ref="BarChart" Width="750" Class="mt-4"/>
    </div>

</div>