@page "/"

<PageTitle>Umfrageauswertung</PageTitle>

<h3 class="text-center">Umfragestatistik</h3>

<br py-2/>

@if(module == null!)
{
    <p>Daten werden geladen...</p>
}
@if(module != null)
{
    <div class="row justify-content-center">

        <div class="col-md-3 d-flex justify-content-between align-items-center">

            <Dropdown>
                <DropdownToggleButton Class="dropdown-toggle" Color="@ButtonColor.Primary">@selectedModul!.Name</DropdownToggleButton>
                <DropdownMenu>
                    @foreach(Modul m in module)
                    {
                        <DropdownItem @onclick="() => selectedModul = m" Type="@ButtonType.Button">
                            @m.Name
                        </DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>

            <Dropdown>
                <DropdownToggleButton Class="dropdown-toggle" Color="ButtonColor.Primary">@selectedQuestion!.Text</DropdownToggleButton>
                <DropdownMenu>
                    @foreach(Question q in questions)
                    {
                        <DropdownItem @onclick="() => selectedQuestion = q" Type="ButtonType.Button">
                            @q.Text
                        </DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>

        </div>

    </div>

    <!-- Chart -->
    <div class="row justify-content-center my-5">
        @if(bDisplayPieChart)
        {
            <!-- Pie Chart -->
            <div id="pieChart" class="d-flex justify-content-center">

                <PieChart @ref="pieChart" Width="800" Class="mt-4"/>

            </div>
        }

        @if(bDisplayBarChart)
        {
            <!-- Bar Chart -->
            <div id="barChart" class="d-flex justify-content-center">

                <BarChart @ref="barChart" Width="800" Class="mt-6"></BarChart>

            </div>
        }
    </div>
}